<!DOCTYPE html>
<html>
<head>
	<title>Angular 3</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<!--<div style="background-color: pink" ng-app="app" ng-controller="ctrl" class="container" style="border:2px dashed red">
		<center><h1 style="color:red; text-shadow: 2px 2px 10px yellow">Shopping List</h1></center>
		<ul type="none" style="font-size:20px;">
			<li ng-repeat="x in products" class="alert alert-success aler-dismissible"><button type="button" class="close" data-dismiss="alert" ng-click="remove($index)">&times;</button>{{x}}</li>
		</ul>
		<div><input type="text" ng-model="pro">&nbsp&nbsp&nbsp&nbsp<button ng-click="add()">ADD</button><br>
		{{error}}<br>
		{{products}}
		</div>
		<br>

	</div>
	<script type="text/javascript">
		var app=angular.module("app",[]);
		
		app.controller("ctrl",function($scope){
			$scope.products=["Banana","Apple","Fruit Jam","Butter"];
			
			$scope.add=function(){
				if($scope.pro==""){
					$scope.error="";
					}
				else if($scope.products.indexOf($scope.pro)==-1){
					$scope.products.push($scope.pro);
					$scope.error="";
					$scope.pro="";
				}else{
					$scope.error="Product already in the list";
				}
			}

			$scope.remove=function(index){
				$scope.products.splice(index,1);
			}
		});
	</script>-->
	<div class="container" style="background-color: #f2f1c4" ng-app="app" ng-controller="ctrl">
	<h1 style="text-align: center; color: darkgreen; text-shadow: 2px 2px 5px green, 2px 2px 5px yellow">Shopping Cart</h1>
	<div style="margin: 50px;">
		<button ng-click="dash()" style="border-radius: 10px; color: white; height:40px; text-align: center; border:none;background-color: green; box-shadow: 2px 2px 5px gray; cursor: pointer">
			Dashboard
		</button>
		<button ng-click="view()" style="border-radius: 10px; color: white; height:40px; text-align: center; border:none;background-color: green; box-shadow: 2px 2px 5px gray; cursor: pointer">
			View Items
		</button><br><br>
		<div ng-hide="d" ng-init="d=false">
			<h3>Dashboard</h3>
			<input type="text" ng-model="item" placeholder="new-item">
			<button ng-click="add()" style="background-color: green; color: white; border:none;cursor: pointer">ADD</button>
		<br>{{error}}
		</div>
		<div ng-hide="v" ng-init="v=true">
			<h3>Items</h3>
			<ul type="circle">
				<li ng-repeat="x in products" class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert" ng-click="rem($index)">&times;</button>{{x}}</li>
			</ul>
		</div>
	</div>
	<br><br>
	</div>
	<script type="text/javascript">
		var app=angular.module("app",[]);
		app.controller("ctrl",function($scope){
			$scope.products=["Butter","Fruit Jam","Wheat Flour"];

			$scope.add=function(){
				if($scope.item==""){
					$scope.error="No item Entered";
					$scope.item="";
				}else if($scope.products.indexOf($scope.item)==-1){
					$scope.error="";
					$scope.products.push($scope.item);
					$scope.item="";

				}else{
					$scope.error="Item Already in the list";
					$scope.item="";
				}

			}

			$scope.rem=function(index){
				$scope.products.splice(index,1);
			}

			$scope.dash=function(){
				$scope.v=true;
				$scope.d=false;
			}

			$scope.view=function(){
				$scope.v=false;
				$scope.d=true;
			}
		});
	</script>
</body>
</html>